.privacy-container,.simple {
    background-color: #EEE;
}
.simple .content {
    background-color: #EEE;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-left: 100px;
}
.privacy {
    background-color: #efefef;
}
.wrapper {
    max-width: 1280px;
    width: 94%;
    margin: 0 auto;
}
.privacy .container h1 {
    text-align: center;
    color: #444445;
    font-weight: normal;
    font-size: 50px;
    font-family: HelveticaNeueThin;
    text-transform: uppercase;
}
.privacy .container .line {
    width: 30px;
    background-color: #b43a04;
    margin: 20px auto;
}
.line {
    height: 1px;
    overflow: hidden;
    margin: 0 auto;
}
.privacy .container .cont {
    font-size: 16px;
    color: #6a6a6a;
    line-height: 1.6;
    padding-top: 20px;
    font-family: Arial;
}