@charset "utf-8";
body {
    /*font: 12px 'Microsoft Yahei';*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

a:active,a:hover,
a:focus,input,
textarea,select {
    outline: none;
}

body,ul,li,p,h1,h2,h3,
h4,h5,h6,dl,dt,dd,article,
header,footer,section {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clear:after,.fl-li:after,
.fl-a:after,.fl-div:after {
    content: '';
    display: table;
    visibility: hidden;
    clear: both;
}

img {
    display: block;
    width: 100%;
}

.l,
.fl-li li,.fl-a a,
.fl-div div {
    float: left;
}

.r {
    float: right;
}

.dib,.dib-a a,
.dib-span span {
    display: inline-block;
}

.db,.db-a a,
.db-span span {
    display: block;
}

.dn {
    display: none;
}

.w100p {
    width: 100%;
}

.w110p {
    width: 110%;
}

.oh {
    overflow: hidden;
}

.por,div,li,header,
footer,section,a,p,
article,h1,h2,h3,dl,
dt,dd {
    position: relative;
}

.poa {
    position: absolute;
}

.pof {
    position: fixed;
}

input.reset,select.reset,
textarea.reset,button.reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    background: none;
}

.mobile {
    max-width: 480px;
    min-width: 320px;
    margin: 0 auto;
}

a img {
    border: none;
}

/* Partners */

.partners-container,.partners-descriptions{
    margin: 50px 10% 20px;
}

.partners-title{
    background-image: url(../img/bg-two-strips.png);
    background-position: center;
    background-repeat: repeat-x;
    text-align: center;
    margin-bottom: 55px;
}

.partners-title span {
    display: inline-block;
    padding: 0 27px;
    background-color: #fbfbfb;
    font-size: 22px;
    color: #02394e;
}
/* Partners END*/

/* Slick Slider */
.slick-slider img {
    height: 185px;
}
/* Slick Slider END*/

/* Partners Description */
.partners-descriptions {
    border-bottom: 1px solid #eee;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: left;
    -moz-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}
.partner-description{
    width: 30.3333%;
    min-height: 445px;
    float: left;
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #eee;
}

.partners-descriptions .partner-description-img {
    display: block;
}
.partners-descriptions .partner-description-img img {
    max-width: 100%;
    height: 245px;
    border: none;
}
.partners-topic{
    margin: 15px auto;
}
.partner-description-title{
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #666;
    font-family: Arial,sans-serif;
    margin: 10px;
}
.partner-description-data{
    color: #666;
    font-family: Arial,sans-serif;
}
/* Partners Description END*/
/* Cover Flow */
.workers-slider .coverflow__container__1P-xE{
    background-image: linear-gradient(to right, #eeeeee42 0%, #d3d3d3b0 25%, #dfdfdf 50%, #d3d3d3b0 75%, #eeeeee42 100%);
}
/* Cover Flow END*/